<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1> </h1>

<p> Szia! Hello!</p>
<p>Jó reggelt! Good morning! (sg/pl)</p>
<p>Jó napot! 	Hello! (sg/pl)</p>
<p>Jó estét! Good evening! (sg/pl)</p>
<p>Jó éjszakát! Bye! (infml)</p>
<p>Szia! Good night! (sg/pl)</p>
<p>Viszontlátásra! Good bye! (fml.)</p>
<p>igen  yes</p>
<p>nem  no</p>
<p>talán  maybe</p>
<p>Köszönöm!  Thank you!</p>
<p>Szívesen! You're welcome! (m/f)</p>
<p>Bocsánat,.../ Elnézést,...  Excuse me, ...</p>
<p>Sajnálom  I'm sorry. (m/f)</p>
<p>Nekünk van .../ Nekünk nincs...	  We (don't) have …</p>

</body>
</html>