<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title>Insert title here</title>
</head>
<body>
<br />Choose the option if you want to find the best parties <a th:href="@{/partyEvents}" >Party</a><br />
<br />Choose the option if you you want to find places to study hard (or not) <a th:href="@{/studyEvents}" >Study</a><br />
<br />Choose the option if you are interested in cultural events in Bp! <a th:href="@{/culturalEvents}" >Culture</a><br />
<br /><br />
<a th:href="@{/hungarianExpressions}" >Useful hungarian expressions</a>
<br /><br />
<a th:href="@{/admin_logout}" >Logout</a>
<br /><br />
</body>
</html>